.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #333666;
}
.header {
  text-align: center;
}
.demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5fcff;
  padding: 20px;
  margin-bottom: 30px;
}
code {
  padding: 5px 10px !important;
  margin-bottom: 50px;
}
.live-example {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
