* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  color: #333666;
}
.main-header {
  padding: 0 5px 10px;
  border-bottom: 1px solid #eeeeee;
}
.demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5fcff;
  padding: 20px;
  margin-bottom: 30px;
}
pre {
  border-radius: 5px;
  margin: 0 0 20px !important;
}
.live-example {
  position: relative;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
}
.panzoom {
  position: relative;
}
.panzoom img {
  display: block;
  margin: 0 auto;
  border: 1px solid;
}
.dot {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2px - 100px);
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 50%;
}
